
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0% 20%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h4{
  font-size: 1rem;
  color: rgb(56, 56, 56);
  line-height: 2.5rem;
  margin: 2rem 0rem;
}
h3 {
	font-size: 1.25rem;
	color: var(--gray-800);
	line-height: 2.5rem;
	margin: 2rem 0;
}

h2 {
  color: var(--gray-900);
}

a {
	color: var(--gray-900);
}

@media (max-width: 768px) {
  body {
    margin: 0 5%;
  }
}
